<section class="login-page">
    <div class="form-header">
        <h1>Sign in with your username & password.</h1>
    </div>
    <div class="form-container">
        <form class="login-form">
            <div>
                <label for="username-login">Username: </label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password: </label>
                <input type="text" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-button">Login!</button>
            </div>
        </form>
    </div>
    <div class="signup-link">
        <a href="/signup" id="signup">Not registered? Click here to signup!</a>
    </div>
</section>

<script src="/public/login.js"></script>