<section class="login-page">
    <div class="form-header alert alert-info">
        <h1>Sign in with your username & password.</h1>
    </div>
    <div class="form-container container-fluid">
        <form class="login-form">
            <div class="mb-3 input-group">
                <label for="username-login" class="input-group-text" id="inputGroup-sizing-default">Username: </label>
                <input type="text" class="form-control" id="username-login" />
            </div>
            <div class="mb-3 input-group">
                <label for="password-login">Password: </label>
                <input type="text" class="form-control" id="password-login" />
            </div>
            <div class="mb-3">
                <button type="submit" class="login-button btn btn-success">Login!</button>
            </div>
        </form>
    </div>
    <div class="signup-link">
        <a href="/signup" id="signup">Not registered? Click here to signup!</a>
    </div>
</section>

<script src="/public/login.js"></script>