<section class="signup-page">
    <div class="form-header alert alert-danger">
        <h1>Create an account with a username & password.</h1>
    </div>
    <div class="form-container container-fluid">
        <form class="signup-form">
            <div class="mb-3 input-group">
                <label for="username-signup">Username: </label>
                <input type="text" id="username-signup" />
            </div>
            <div class="mb-3 input-group">
                <label for="password-signup">Password: </label>
                <input type="text" id="password-signup" />
            </div>
            <div class="mb-3">
                <button type="submit" class="signup-button btn btn-primary">Sign up!</button>
            </div>
        </form>
    </div>
    <div class="login-link">
        <a href="/login" id="login">Already registered? Click here to login!</a>
    </div>
</section>

<script src="/public/signup.js"></script>